* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  font-family: inherit; }

body {
  font-family: 'Varela Round', sans-serif;
  color: #333;
  background: #fefefe; }

header {
  background: #e7f4fc;
  color: #222;
  text-transform: uppercase;
  padding: 2%; }

button {
  border: none;
  background: #e7f4fc;
  padding: 4%;
  margin: 2% 0;
  display: block;
  width: 100%;
  font-size: 1.1em;
  cursor: pointer; }

#container {
  padding: 2% 0; }

#products {
  display: flex;
  flex-wrap: wrap; }
  #products .product {
    border-top: 2px solid #999;
    margin: 2%;
    padding: 2% 0 0;
    flex: 1;
    flex-basis: 21%; }
    #products .product .image {
      width: 200px;
      margin: 2% auto;
      background: #f6f6f6;
      border-radius: 100%; }
      #products .product .image:before {
        content: "";
        display: block;
        padding-top: 100%; }
