* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;
  text-decoration: none; }

body {
  font-family: 'Varela Round', sans-serif;
  color: #333;
  background: #fefefe; }

header {
  background: #e7f4fc;
  color: #222;
  text-transform: uppercase;
  padding: 2%; }

.animated-border {
  background: #d0dce3;
  height: 2px;
  width: 0%;
  position: relative;
  margin: 0 auto;
  top: 0; }

button {
  border: none;
  background: #e7f4fc;
  padding: 4%;
  margin: 2% 0 0;
  display: block;
  width: 100%;
  font-size: 1.1em;
  cursor: pointer; }
  button ~ .animated-border {
    top: -2px;
    transition: width .2s; }
  button:hover ~ .animated-border {
    width: 100%; }

#container {
  padding: 0 0 2% 0; }

#products {
  display: flex;
  flex-wrap: wrap; }
  #products .product {
    margin: 4%;
    padding: 2% 0 0;
    flex: 1;
    flex-basis: 21%; }
    #products .product .image {
      width: 200px;
      margin: 2% auto 8%;
      background: #f6f6f6;
      border-radius: 100%; }
      #products .product .image:before {
        content: "";
        display: block;
        padding-top: 100%; }
    #products .product .name-price {
      display: flex;
      align-items: center; }
      #products .product .name-price * {
        flex: 1; }
      #products .product .name-price p.price {
        text-align: right; }
    #products .product ul.more {
      display: flex;
      margin: 2% 0 6%;
      font-size: .9em; }
      #products .product ul.more li {
        flex: 1;
        text-align: center; }
        #products .product ul.more li:first-child {
          text-align: left; }
        #products .product ul.more li:last-child {
          text-align: right; }
        #products .product ul.more li.active .animated-border {
          width: 100%;
          top: 4px;
          transition: width .2s; }
