<!DOCTYPE html>
<html ng-app="testStore">

<head>
	<title>Angular Test</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
</head>

<body ng-controller="StoreController as store">

	<header>
		<h1>Angular &vzigzag; Flexbox</h1>
	</header>

	<div id="container">
		<div id="products">
			<div class="product" ng-repeat="product in store.products">
				<div class="image"></div>
				<div class="name-price">
					<h1>{{product.name}}</h1>
					<p class="price">{{product.price | currency}}</p>
				</div>
				
				<section ng-controller="PanelController as panel">

					<ul class="more">
						<li ng-class="{active:panel.isSelected(1)}">
							<a href ng-click="panel.selectBox(1)">Description</a>
							<div class="animated-border"></div>
						</li>
						
						<li ng-class="{active:panel.isSelected(2)}">
							<a href ng-click="panel.selectBox(2)">Specs</a>
							<div class="animated-border"></div>
						</li>

						<li ng-class="{active:panel.isSelected(3)}">
							<a href ng-click="panel.selectBox(3)">Reviews</a>
							<div class="animated-border"></div>
						</li>
					</ul>

					<div id="panels" >
						<div class="panel" ng-show="panel.isSelected(1)">
							<p>{{product.description}}</p>
						</div>
						<div class="panel" ng-show="panel.isSelected(2)">
							<p>no specs</p>
						</div>
						<div class="panel" ng-show="panel.isSelected(3)">
							<p>no reviews</p>
						</div>
					</div><!-- #panels -->
				</section>
				<button ng-show="product.canPurchase">Buy it</button>
				<div class="animated-border"></div>
			</div>
		</div>
	</div>

</body>
</html>